@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$navbar-space: 50px;

/* global */

body {
	padding-top: $navbar-space;
}

/* main map */

.map {
	height: 100%;
	left: 0;
	overflow: hidden;
	padding-top-top: $navbar-space;
	position: absolute;
	top: 0;
	width: 100%;
}

#map {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

// fix positioning of control buttons
.mapboxgl-ctrl-top-right {
	top: $navbar-space !important;
}

#save-btn {
	bottom: 50px;
	position: absolute;
	right: 50px;
}