@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$navbar-space: 50px;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* global */

body {
	padding-top: $navbar-space;
}

/* main map */

.map {
	height: 100%;
	left: 0;
	overflow: hidden;
	padding-top-top: $navbar-space;
	position: absolute;
	top: 0;
	width: 100%;
}

#map {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

// fix positioning of control buttons
.mapboxgl-ctrl-top-right {
	top: $navbar-space !important;
}

#save-btn {
	bottom: 50px;
	position: absolute;
	right: 50px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}