<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-brand">
				<%= link_to "CatTracker", root_path %>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Sign in", '#' %></li>
			</ul>
		</div>
	</nav>
</header>